*{
    margin: 0;
    padding: 0;
}
.categorias{
    color: black;
    font-size: 30px;
    

}
.title{
    background-color: teal;
    color: black;
    text-align: center;

}
.title2{
    text-align: center;
    color: black;
    background-color: teal;
}